<% include ../application/_header.ejs %>
<% include ../application/_navbar.ejs %>

<div class="container content">

<section class="section columns">

	<div class="column is-12 content-container">
		<h2> Add New Post </h2>
		<form action="/admin/stories" method="POST">
			<div class="field">
				<div class="control">
					<label class="label">Post Title<label>
					<input class="input" type="text" name="title" />
				</div>
			</div>

			<div class="field">
				<div class="control">
					<label class="label">Contact Name<label>
						<input class="input" type="text" name="contact_name" />
				</div>
			</div>
			<div class="field">
				<div class="control">
					<label class="label">Image Path?<label>
						<input class="input" type="text" name="img" />
				</div>
			</div>
			<div class="field">
				<div class="control">
					<label class="label">Content<label>
						<textarea class="textarea" name="content" ></textarea>
				</div>
			</div>
			<input class="button" type="submit">
		</form>
	</div>
</section>

</div>

<% include ../application/_footer.ejs %>
