<% include ../application/_header.ejs %>

<h2>Signup</h2>
<form action="/admin/signup" method="post">
	<input type="text" name="username" placeholder="username" >
	<input type="password" name="password" placeholder="password" >
	<input class="btn" type="submit"></input>
</form>



<% include ../application/_footer.ejs %>
