		<footer class="footer">
			<div class="container">
				<div class="columns">
					<div class="column is-12">
						<div class="content">
							<p><strong>FIRE Starters</strong> by Tim Pittman</p>
							<p><a href="https://twitter.com/pittman021">@pittman021</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
