		<footer class="footer">
			<div class="container">
				<div class="columns">
					<div class="column is-4">
						<div class="content">
							<p><strong>FIRE Stories</strong> by Tim Pittman</p>
							<p><a href="https://twitter.com/pittman021">@pittman021</a></p>
									<img src="/images/favicon-32x32.png" type="image/png" />
						</div>
					</div>
					<div class="column is-5 has-text-centered">
						<p class="subtitle is-3">Get interviews in your inbox</p>

		          <!-- Begin Mailchimp Signup Form -->
							<div id="mc_embed_signup">
		            <form action="https://timpittman.us7.list-manage.com/subscribe/post?u=5da9220e0fdafc842defd9112&amp;id=e16ce6c8ed" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		              <div class="field has-addons" id="mc_embed_signup_scroll">
		                <p class="control is-expanded">
		                  <input type="email" value="" name="EMAIL" class="email input" id="mce-EMAIL" placeholder="Email Address" required>
		                </p>
		                <div style="position: absolute; left: -5000px;" aria-hidden="true">
		                  <input class="input" type="text" name="b_5da9220e0fdafc842defd9112_e16ce6c8ed" tabindex="-1" value="">
		                </div>
		                <div class="control">
		                  <input type="submit" value="I'm in!" name="subscribe" id="mc-embedded-subscribe" class="button is-info">
		                </div>
		              </div>
		            </form>
		          </div>
							<!-- End Form -->

					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
